/*---------------------------------*/
/*-------Universal Styling---------*/
/*---------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------*/
/*------Individual Styling---------*/
/*---------------------------------*/

.content {
    margin: 0 auto;
    max-width: 90%;
}

#banner{
    max-width: 80%;
    margin: 0 auto;
    height: auto;
    max-height: 10%;
    background-image:url(../img/)
}

#banner img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#nav{
    text-align: center;
    font-size: 22px;
}

#nav ul{
    padding-top: 25px;
    padding-bottom: 25px;
}

#nav li{
    display: inline;
}

#nav a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

#nav a:hover{
    color: slategrey;
}

#nav hr{
    margin: 0 auto;
    width: 80%;
}

#slidecontent{
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
}

#slideshow{
    position: relative;
    height: 240px;
    max-width: 100%;
    margin-bottom: 0;
}

#slideshow img{
    max-width: 79%;
    margin-left: 10%;
    position: absolute;
    border-style: solid;
    border-color: #ffa1a1;
    border-width: thick;
    top: 0;
    z-index: 8;
}

#slideshow img.active{
    z-index: 10;
}

#slideshow img.last-active{
    z-index: 9;
}

#desc{
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

#piclinks{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 30px;
}

#piclinks img{
    border-style: solid;
    border-color: #ffa1a1;
    border-width: thick;
    max-width: 28%;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-filter: brightness(110%);
}

#piclinks img:hover{
    border-style: solid;
    border-color: #6ca7cc;
    border-width: thick;
    max-width: 28%;
    margin-left: 1%;
    margin-right: 1%;
    -webkit-filter: brightness(150%);
}

#footer{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#footer p{
    color: slategrey;
    font-size: 20px;
}

.insta{
    max-width: 15px;
}

#footerabout{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    float: left;
}

#footerabout p{
    color: slategrey;
    font-size: 20px;
}

#footergallery{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#footergallery p{
    color: slategrey;
    font-size: 20px;
}

#about {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#about h1{
    color: #6896b2;
}

#grace{
    max-width: 24%;
    margin-top: 20px;
    border-style: solid;
    border-color: #ffa1a1;
    border-width: medium;
    float: left;
}

#aboutright{
    width: 70%;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 16px;
    text-align: left;
    float: left;
}

#aboutpics{
    margin: 0 auto;
    margin-top: 20px;
}

.littleabouts{
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-color: #ffa1a1;
    border-width: medium;
    max-width: 29%;
}

#gallbanner img{
    width: 100%;
    margin-left: auto;
    margin-left: auto;
}

#gallbanner{
    width: 80%;
    margin: 0 auto;
}

#images{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

#images img{
    max-width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

#images ul,li{
    list-style: none;
    display: inline-block;
    text-align: center;
}

#images ul{
    
    text-align: center;
}

#images ul li a{
    text-decoration: none;
    color: #000;
    background: #fffeba;
    display: block;
    height: 140px;
    width: 220px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    padding-bottom: 10px;
}

#images ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#ffa1a1;
}

#images ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#6ca7cc;
}

#images ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

#images ul li a:hover,#images ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

#images ul li{
    margin: 1em;
    float: none;
}

/* sticky note effect adapted from http://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934 8/ */

#images h1{
    color: #6896b2;
}

#notes {
    width: auto;
    margin: 0 auto;
    padding: 0;
}


#orderform{
    text-align: left;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 300%;
    font-size: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: #6ca7cc;
    padding: 20px;
    padding-left: 40px;
}

#orderform h2{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#submit{
    background-color:#ffa1a1;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    cursor: pointer;
    font-size: 18px;
    font-weight:bold;
    padding: 10px;
    margin-top: 20px;
}

input{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
    height: 30px;
    width: 200px;
    max-width: 80%;
}

select{
    height: 30px;
    width: auto;
}

textarea{
    height: 100px;
    width: 80%;
}

#quant{
    width: auto;
}

#orderconfirm{
    text-align: left;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 300%;
    font-size: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: #6ca7cc;
    padding: 20px;
    padding-left: 40px;
}

#contactform{
    text-align: left;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 300%;
    font-size: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: #6ca7cc;
    padding: 20px;
    padding-left: 40px;
}

#contactform h2{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#contactsent{
    text-align: left;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 300%;
    font-size: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    border-style: solid;
    border-color: #6ca7cc;
    padding: 20px;
    padding-left: 40px;
}

@media (max-width: 1200px){
    #slideshow{
        position: relative;
        height: 180px;
        max-width: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 1000px){
    #slideshow{
        position: relative;
        height: 140px;
        max-width: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 850px){
    #slideshow{
        position: relative;
        height: 120px;
        max-width: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 530px){
    #slideshow{
        position: relative;
        height: 70px;
        max-width: 100%;
        margin-bottom: 0;
    }
}



